<% if logged_in? %>
<script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
</script>
<% end %>

<script>
window.images = {
  splash: "<%= asset_path('EqualSlicesPhone3.jpg') %>",
  Homer: "<%= asset_path('homer.png') %>",
  Bart: "<%= asset_path('bart.png') %>",
  Marge: "<%= asset_path('marge.png') %>",
  Lisa: "<%= asset_path('lisa.png') %>",
  Maggie: "<%= asset_path('maggie.png') %>",
  Grampa: "<%= asset_path('grampa.png') %>"
}
</script>

<main id="root"></main>
